pkgbase = hyprcat
	pkgdesc = Material 3 inspired standalone Hyprland desktop session with a settings app
	pkgver = r7.g57ae321
	pkgrel = 1
	url = https://github.com/NinIcaty/Cat-Hypr-Rice
	arch = x86_64
	license = GPL 3.0
	makedepends = git
	depends = gtk3
	depends = hyprland
	depends = hyprpaper
	depends = libnotify
	depends = playerctl
	depends = python
	depends = python-gobject
	depends = rofi
	depends = swaync
	depends = waybar
	optdepends = anyrun: preferred app launcher
	optdepends = brightnessctl: brightness shortcuts
	optdepends = ghostty: default terminal command
	optdepends = hyprlock: lock screen integration
	optdepends = hyprshot: screenshot shortcuts
	optdepends = nautilus: default file manager command
	optdepends = ttf-jetbrains-mono-nerd: recommended font
	provides = hyprcat
	conflicts = hyprcat-git
	source = git+https://github.com/NinIcaty/Cat-Hypr-Rice.git
	sha256sums = SKIP

pkgname = hyprcat
